p {
    background-color: #ffb6c1;
    font-family: Verdana, "DejaVu Sans", sans-serif
}

.c-two {
    color: #0000ff;
    font-size: 36px;
}

.c-three {
    font-size: 24px;
}

.c-four {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}